{% load static %}
<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/summernote/css/summernote-bs4.css' %}"> 
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">



    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <!-- <link rel="stylesheet" href="{% static 'assets/vendor/datatables/css/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/datatables/css/buttons.bootstrap4.css' %}"> 
    <link rel="stylesheet" href="{% static 'assets/vendor/datatables/css/select.bootstrap4.css' %}"> 
    <link rel="stylesheet" href="{% static 'assets/vendor/datatables/css/fixedHeader.bootstrap4.css' %}">  -->

<!-- 

    <link rel="stylesheet" href="{% static 'assets/vendor/charts/chartist-bundle/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/morris-bundle/morris.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/c3charts/c3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icon-css/flag-icon.min.css' %}">

 -->

  

    <link rel="icon" href="{% static 'img/repurta_transparent_logo.png' %}">
    <title>{% block title %} Repurta {% endblock %}</title>
</head>

<body>
    
    <div class="dashboard-main-wrapper">
       
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="#">
                    <img class="imgLogo" width="100" height="auto" src="{% static 'img/repurta_transparent_logo.png' %}" alt="">   
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        
                        

                       

                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'assets/images/user.png' %}" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">Hello, {{request.user.first_name}} {{request.user.last_name}} </h5>
                                    <!-- <span class="status"></span><span class="ml-2">Available</span> -->
                                </div>
                                <!-- <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a> -->
                                <a class="dropdown-item" href="{% url 'appusers:logout' %}"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">

                                        {% if user.is_authenticated %}


                                        {% if user.is_institution_setup %}



                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'business:business_complete'  %}"> Home</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'business:business_dashboard' request.session.business_slug_name  %}"> Dashboard</a>
                                        </li>


                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'loan:business_loans' request.session.business_slug_name  %}"> Loans</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'businessreport:all_submitted_business_report'   %}"> Reports</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'businessreport:view_business_metrics_progress' request.session.business_slug_name   %}"> Metrics</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'businessreport:charts_graphs_metrics' request.session.business_slug_name   %}"> Charts</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="#">  Partners</a>
                                        </li>


                                        <li class="nav-item">
                                            <a class="nav-link" href="#">  Settings</a>
                                        </li>
                                        {% else %}
                                        




                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'business:business_setup_register' %}">Business Setup</a>
                                        </li>

                                        {% endif %}


                                        {% endif %}

                                        
                                        
                                        
                                    </ul>
                                </div>
                            </li>

                           
                       
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">

            {% block body %} 

            {% endblock %}
          
            <div style="margin-top: 170px;" class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             Copyright © 2020 Repurta. All rights reserved. Powered by <a href="https://bsystemslimited.com">Bsystems Limited</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
      
    </div>

   
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" ></script>
  
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
   
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script> 
    <script src="{% static 'assets/vendor/summernote/js/summernote-bs4.js' %}"></script>
   
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script> 
    

   

  


    <script>

$(function() {

var currentYear = (new Date).getFullYear();
var currentMonth = (new Date).getMonth();
var currentDay = (new Date).getDate();
    
 $('.datepicker').datepicker({
    
    uiLibrary: 'bootstrap4',
    format: 'yyyy-mm-dd',
    maxDate: new Date(currentYear, currentMonth, currentDay)
        });

    });
    </script>


<script>
    $(document).ready(function() {
        $('.summernote').summernote({
            height: 300

        });
    });
    </script>


<script>

    
$(function() {
  $('#isStatedCapitalMore').change(function(){
    var e = document.getElementById("isStatedCapitalMore"); 
    if(e.value == "YES"){
        $('.shareholderLetter').show(); 
    }else if(e.value == "NO"){
        $('.shareholderLetter').hide(); 
    }else if(e.value == "----------"){
        $('.shareholderLetter').hide(); 
    }else if(e.value == ""){
        $('.shareholderLetter').hide(); 
    }
    
  });
});


$(function() {
  $('#isTheCompanyNew').change(function(){
    var e = document.getElementById("isTheCompanyNew"); 
    if(e.value == "YES"){
        $('.newCompanyStateOfAffairs').show();
        $('.auditedIncomeStatement').hide();
        $('.auditedBalanceSheet').hide();  
    }else if(e.value == "NO"){
        $('.auditedIncomeStatement').show();
        $('.auditedBalanceSheet').show();
        $('.newCompanyStateOfAffairs').hide(); 
    }else if(e.value == "----------"){
        $('.newCompanyStateOfAffairs').hide(); 
        $('.auditedIncomeStatement').hide();
        $('.auditedBalanceSheet').hide();  
    }else if(e.value == ""){ 
        $('.newCompanyStateOfAffairs').hide(); 
        $('.auditedIncomeStatement').hide();
        $('.auditedBalanceSheet').hide();   
    }
    
  });
});


$(function() {
  $('#isPropertyOwnedByCompany').change(function(){
    var e = document.getElementById("isPropertyOwnedByCompany"); 
    if(e.value == "YES"){
        $('.propertyOwnedCompany').hide();
        $('.searchReportLandCommission').hide();
        $('.propertyRatePaid').hide();  
        $('.groundRentPaid').hide(); 
    }else if(e.value == "NO"){
        $('.propertyOwnedCompany').show();
        $('.searchReportLandCommission').show();
        $('.propertyRatePaid').show();  
        $('.groundRentPaid').show(); 
    }else if(e.value == "----------"){
        $('.propertyOwnedCompany').hide();
        $('.searchReportLandCommission').hide();
        $('.propertyRatePaid').hide();  
        $('.groundRentPaid').hide(); 
    }else if(e.value == ""){ 
        $('.propertyOwnedCompany').hide();
        $('.searchReportLandCommission').hide();
        $('.propertyRatePaid').hide();  
        $('.groundRentPaid').hide(); 
    }
    
  });
});



//CODE FOR ADDING TEAM MEMBERS DYNAMICALLY

$(document).ready(function () {
    var counter = 0;

    $("#addrow").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";

        cols += '<td><input placeholder="Fullname" type="text" class="form-control" name="Team[]' + counter + '"/></td>';
        cols += '<td><input placeholder="Title" type="text" class="form-control" name="Team[]' + counter + '"/></td>';
        cols += '<td><input placeholder="Age" type="text" class="form-control" name="Team[]' + counter + '"/></td>';
        cols += '<td><input type="file" class="form-control" name="Team[]' + counter + '"/></td>';

        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
        newRow.append(cols);
        $("table.order-list").append(newRow);
        counter++;
    });



    $("table.order-list").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });


});



//CODE FOR ADDING BOARD OF DIRECTORS

$(document).ready(function () {
    var counter = 0;

    $("#addrowdirector").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";

        cols += '<td><input placeholder="Fullname" type="text" class="form-control" name="directors[]' + counter + '"/></td>';
        cols += '<td><input placeholder="Position" type="text" class="form-control" name="directors[]' + counter + '"/></td>';
        cols += '<td><input placeholder="Age" type="text" class="form-control" name="directors[]' + counter + '"/></td>';
        cols += '<td><input placeholder="Nationality" type="text" class="form-control" name="directors[]' + counter + '"/></td>';
        cols += '<td><input type="file" class="form-control" name="directors[]' + counter + '"/></td>';

        cols += '<td><input type="button" class="ibtnDelDirector btn btn-md btn-danger "  value="Delete"></td>';
        newRow.append(cols);
        $("table.order-list-directors").append(newRow);
        counter++;
    });



    $("table.order-list-directors").on("click", ".ibtnDelDirector", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });


});


//CODE FOR ADDING OWNERSHIP STRUCTURE

$(document).ready(function () {
    var counter = 0;
    var countRows = 5;

    $("#addrowShareholding").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";

        cols += '<td><input placeholder="Fullname" type="text" class="form-control" name="ownership[]' + counter + '"/></td>';
        cols += '<td><input placeholder="Percentage shareholding" type="text" class="form-control" name="ownership[]' + counter + '"/></td>'; 

        cols += '<td><input type="button" class="ibtnOwnership btn btn-md btn-danger "  value="Delete"></td>';
        newRow.append(cols);
        if(newRow.contents().length > countRows){
            alert("Cant add more than 5");
        }
        $("table.order-list-shareholding").append(newRow);
        counter++;
    });



    $("table.order-list-shareholding").on("click", ".ibtnOwnership", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });


});


//CODE FOR ADDING BUSINESS RELATIONSHIP STRUCTURE

$(document).ready(function () {
    var counter = 0;
    var countRows = 5;

    $("#addrowBankRelationship").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";

        cols += '<td><input placeholder="Name of bank" type="text" class="form-control" name="bank_relationship[]' + counter + '"/></td>';
        cols += '<td><select  class="form-control" name="bank_relationship[]' + counter + '"><option>----------</option><option>Borrowing</option><option>Depository</option><option>Others (L/C)</option></select></td>'; 
        cols += '<td><input placeholder="Client Since (Year)" type="text" class="form-control" name="bank_relationship[]' + counter + '"/></td>';
        cols += '<td><input type="button" class="ibtnBankRelationship btn btn-md btn-danger "  value="Delete"></td>';
        newRow.append(cols);
        if(newRow.contents().length > countRows){
            alert("Cant add more than 5");
        }
        $("table.order-list-bankrelationships").append(newRow);
        counter++;
    });



    $("table.order-list-bankrelationships").on("click", ".ibtnBankRelationship", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });


});




// function calculateRow(row) {
//     var price = +row.find('input[name^="price"]').val();

// }

// function calculateGrandTotal() {
//     var grandTotal = 0;
//     $("table.order-list").find('input[name^="price"]').each(function () {
//         grandTotal += +$(this).val();
//     });
//     $("#grandtotal").text(grandTotal.toFixed(2));
// }


</script>



    

    <!-- <script src="{% static 'assets/vendor/datepicker/moment.js' %}"></script>

    <script src="{% static 'assets/vendor/datepicker/tempusdominus-bootstrap-4.js' %}"></script>
    <script src="{% static 'assets/vendor/datepicker/datepicker.js' %}"></script> 
    <script src="{% static 'assets/vendor/datepicker/datepicker.js' %}"></script>  -->

<!-- 
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="{% static 'assets/vendor/datatables/js/dataTables.bootstrap4.min.js' %}"></script> 
    <script src="{% static 'assets/vendor/datatables/js/buttons.bootstrap4.min.js' %}"></script> 
    <script src="{% static 'assets/vendor/datatables/js/data-table.js' %}"></script>  
 
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script> -->
    
    

    


    
</body>
 
</html>